In [159]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv
import math
from math import log
from collections import Counter

In [160]:
df_v7 = pd.read_csv('v7_auto_labeled_sort_with_box_office_1997-2017.csv')

In [161]:
df_v7.head()

,n_index,previous_index_num,movie_title_txt_num,imdb_id,n_of_posters,total_box_office,with_adjusted_box_office,total_label,year,movie_title,year_box_office_label,Rnum_year_box_office_label,groups_num,train_or_test,budget
0,10037,5588,5854,tt0120376,2,217,422,0,1997,Trojan War,0,R0,18,test,0
1,10036,5576,5839,tt0118870,3,552,1076,0,1997,Cold Around the Heart,0,R0,17,test,0
2,10035,5548,5800,tt0130297,1,967,1606,0,1997,Sweet Jane,0,R0,16,test,0
3,10034,5467,5708,tt0028905,1,2126,3534,0,1997,Homme Nu L,0,R0,15,test,0
4,10033,5365,5592,tt0119327,2,3620,7068,0,1997,Hugo Pool,0,R0,14,train,0

In [162]:
df_v7_years = df_v7.groupby('year')

In [163]:
df_v7_years.groups.keys()

dict_keys([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [207]:
#check the detail of specified year

def test_label_each_year_to_R0_R9(year):
    #prepared inital paraments
    count = 0
    df_v7_each_year = df_v7_years.get_group(year)
    
    print('year: ', year)
    n_poster_num = df_v7_each_year['n_of_posters'].sum()
    print('number of poster: ', n_poster_num)
    group_num_threadhold = int(n_poster_num/5)
    print('group num threadhold: ', group_num_threadhold)
    print()
    for index in range(0, len(df_v7_each_year)):
        print('index: ', index)
        n_poster_each_index = df_v7_each_year['n_of_posters'].iloc[index]
        print('number of posters in this index: ', n_poster_each_index)
        count = count + n_poster_each_index
        print('count: ', count)
        print()
        #print()

In [208]:
#test_label_each_year_to_R0_R9(1997)

In [209]:
def get_stop_index_each_year_to_R0_R9(year):
    stop_index_list = []
    #prepared inital paraments
    count = 0
    df_v7_each_year = df_v7_years.get_group(year)
    
    print('year: ', year)
    n_poster_num = df_v7_each_year['n_of_posters'].sum()
    #print('number of poster: ', n_poster_num)
    group_num_threadhold = int(n_poster_num/5)
    #print('group num threadhold: ', group_num_threadhold)
    for index in range(0, len(df_v7_each_year)):
        #print('index: ', index)
        n_poster_each_index = df_v7_each_year['n_of_posters'].iloc[index]
        #print('number of posters in this index: ', n_poster_each_index)
        count = count + n_poster_each_index
        if count >= group_num_threadhold: 
            #print('***stop index: ', index)
            if count == group_num_threadhold:
                stop_index_list.append(index)
            #print('count: ', count)
            else:
                #print('nooooo')
                prev_count = count-df_v7_each_year['n_of_posters'].iloc[index]
                #print('previous: ', prev_count)
                #print('over: ', count)
                distant_prev = group_num_threadhold - prev_count
                #print('distant of prev_count: ', distant_prev)
                distant_over = count - group_num_threadhold
                #print('distant of over_count: ', distant_over)
                find_min = [distant_prev, distant_over]
                min_dis = min(find_min)
                #print('who is min: ', min_dis)
                #choose the corresponding index of the minimum number
                choose_index = find_min.index(min_dis)
                #print('choose index: ', choose_index)
                #0=prev, 1=over
                if choose_index == 0:
                    #print('I choose previous: ', prev_count)
                    #print('***stop index will be: ', index-1)
                    stop_index_list.append(index-1)
                else:
                    #print('I choose over: ', count)
                    #print('***stop index will be: ', index)
                    stop_index_list.append(index)
            count = 0
    
    return stop_index_list

In [210]:
###test the fuction can run or not
list_stop_index_each_year = get_stop_index_each_year_to_R0_R9(2017)

year:  2017

In [211]:
def calcu_fomx_tox_sum(year):
	df_v7_each_year = df_v7_years.get_group(year)
	list_stop_index_each_year = get_stop_index_each_year_to_R0_R9(year)

	add_final_stop_list = list_stop_index_each_year.copy()
	add_final_stop_list.append(len(df_v7_each_year))

	from_list = [0]
	to_list = []
	sum_list = []

	print('->x 0 + ... + x', list_stop_index_each_year[0], '=', df_v7_each_year.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
	#print(df_v7_each_year.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
	to_list.append(list_stop_index_each_year[0])
	sum_list.append(df_v7_each_year.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())

	for i in range(0, len(add_final_stop_list)-1):
	    #if i == len(add_final_stop_list)-1:
	    #    break
	    #print(i, add_final_stop_list[i] )
	    print('->x', add_final_stop_list[i]+1, '+ ... + x', add_final_stop_list[i+1], '=', df_v7_each_year.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
	    #print(df_v7_each_year.n_of_posters.iloc[ list_stop_index_each_year[i]+1 : list_stop_index_each_year[i+1]+1 ].sum())
	    from_list.append(add_final_stop_list[i]+1)
	    to_list.append(add_final_stop_list[i+1])
	    sum_list.append(df_v7_each_year.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
	    #print('->x 184', '+ ... + x', len(df_v7_each_year), '=', df_v7_each_year.n_of_posters.iloc[ list_stop_index_each_year[i+1]+1 : len(df_v7_each_year) ].sum())

	print(from_list, len(from_list))
	print(to_list, len(to_list))
	print(sum_list, len(sum_list))
	return from_list, to_list, sum_list , df_v7_each_year
#for year in df_v7_years.groups.keys():
#    per_y_from_list, per_y_to_list, per_y_sum_list = calcu_fomx_tox_sum(year)

In [212]:
def create_df_each_year(from_list, to_list, sum_list):
	from_x = from_list
	to_x = to_list
	divided_sum_group = sum_list

	movie_num_each_group_dict = {
	                'from_x': from_x,
	                'to_x': to_x,
	                'n_sum_group': divided_sum_group
	                }

	year_sum_df = pd.DataFrame(movie_num_each_group_dict)
	return year_sum_df

In [214]:
def giving_label_each_group_n_csv(year_sum_df, df_v7_each_year):
    df_v7_each_year['sort_poster_label'] = 'N/A'
    range_num = 0
    for from_i in range(0, len(year_sum_df['from_x'])):
        print('from_i:', from_i)
        if from_i == 4:
            df_v7_each_year['sort_poster_label'].iloc[ year_sum_df['from_x'].iloc[from_i] : len(df_v7_1997) ] = 5
            break
        df_v7_each_year['sort_poster_label'].iloc[ year_sum_df['from_x'].iloc[from_i] : year_sum_df['from_x'].iloc[from_i+1] ] = range_num
        range_num = range_num + 1
    "{0}_with_label_sort_poster_5cate.csv".format(year)
    df_v7_each_year.to_csv("{0}_with_label_sort_poster.csv".format(year))

In [215]:
for year in df_v7_years.groups.keys():
    per_y_from_list, per_y_to_list, per_y_sum_list, per_df_v7_each_year = calcu_fomx_tox_sum(year)
    per_year_sum_df = create_df_each_year(per_y_from_list, per_y_to_list, per_y_sum_list)
    giving_label_each_group_n_csv(per_year_sum_df, per_df_v7_each_year)
    print()

year:  1997
->x 0 + ... + x 60 = 236
->x 61 + ... + x 118 = 235
->x 119 + ... + x 147 = 238
->x 148 + ... + x 172 = 237

/Users/linyujing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/linyujing/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/linyujing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/linyujing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

->x 173 + ... + x 190 = 235
[0, 61, 119, 148, 173] 5
[60, 118, 147, 172, 190] 5
[236, 235, 238, 237, 235] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  1998
->x 0 + ... + x 50 = 228
->x 51 + ... + x 103 = 228
->x 104 + ... + x 144 = 254
->x 145 + ... + x 173 = 235
->x 174 + ... + x 184 = 201
[0, 51, 104, 145, 174] 5
[50, 103, 144, 173, 184] 5
[228, 228, 254, 235, 201] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  1999
->x 0 + ... + x 41 = 205
->x 42 + ... + x 103 = 222
->x 104 + ... + x 152 = 208
->x 153 + ... + x 181 = 206
->x 182 + ... + x 197 = 203
[0, 42, 104, 153, 182] 5
[41, 103, 152, 181, 197] 5
[205, 222, 208, 206, 203] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2000
->x 0 + ... + x 56 = 165
->x 57 + ... + x 100 = 163
->x 101 + ... + x 141 = 169
->x 142 + ... + x 183 = 167
->x 184 + ... + x 205 = 156
[0, 57, 101, 142, 184] 5
[56, 100, 141, 183, 205] 5
[165, 163, 169, 167, 156] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2001
->x 0 + ... + x 62 = 230
->x 63 + ... + x 100 = 229
->x 101 + ... + x 149 = 221
->x 150 + ... + x 187 = 253
->x 188 + ... + x 202 = 219
[0, 63, 101, 150, 188] 5
[62, 100, 149, 187, 202] 5
[230, 229, 221, 253, 219] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2002
->x 0 + ... + x 135 = 456
->x 136 + ... + x 193 = 459
->x 194 + ... + x 215 = 448
->x 216 + ... + x 229 = 477
->x 230 + ... + x 235 = 444
[0, 136, 194, 216, 230] 5
[135, 193, 215, 229, 235] 5
[456, 459, 448, 477, 444] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2003
->x 0 + ... + x 213 = 984
->x 214 + ... + x 293 = 980
->x 294 + ... + x 335 = 956
->x 336 + ... + x 370 = 1027
->x 371 + ... + x 390 = 945
[0, 214, 294, 336, 371] 5
[213, 293, 335, 370, 390] 5
[984, 980, 956, 1027, 945] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2004
->x 0 + ... + x 234 = 982
->x 235 + ... + x 343 = 983
->x 344 + ... + x 394 = 973
->x 395 + ... + x 424 = 1017
->x 425 + ... + x 448 = 946
[0, 235, 344, 395, 425] 5
[234, 343, 394, 424, 448] 5
[982, 983, 973, 1017, 946] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2005
->x 0 + ... + x 244 = 1071
->x 245 + ... + x 348 = 1063
->x 349 + ... + x 401 = 1083
->x 402 + ... + x 438 = 1076
->x 439 + ... + x 460 = 1060
[0, 245, 349, 402, 439] 5
[244, 348, 401, 438, 460] 5
[1071, 1063, 1083, 1076, 1060] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2006
->x 0 + ... + x 306 = 1216
->x 307 + ... + x 411 = 1216
->x 412 + ... + x 467 = 1223
->x 468 + ... + x 505 = 1211
->x 506 + ... + x 534 = 1216
[0, 307, 412, 468, 506] 5
[306, 411, 467, 505, 534] 5
[1216, 1216, 1223, 1211, 1216] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2007
->x 0 + ... + x 316 = 1418
->x 317 + ... + x 442 = 1415
->x 443 + ... + x 500 = 1393
->x 501 + ... + x 541 = 1470
->x 542 + ... + x 568 = 1381
[0, 317, 443, 501, 542] 5
[316, 442, 500, 541, 568] 5
[1418, 1415, 1393, 1470, 1381] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2008
->x 0 + ... + x 317 = 1420
->x 318 + ... + x 441 = 1419
->x 442 + ... + x 509 = 1449
->x 510 + ... + x 550 = 1429
->x 551 + ... + x 579 = 1397
[0, 318, 442, 510, 551] 5
[317, 441, 509, 550, 579] 5
[1420, 1419, 1449, 1429, 1397] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2009
->x 0 + ... + x 340 = 1692
->x 341 + ... + x 496 = 1704
->x 497 + ... + x 569 = 1722
->x 570 + ... + x 623 = 1700
->x 624 + ... + x 653 = 1648
[0, 341, 497, 570, 624] 5
[340, 496, 569, 623, 653] 5
[1692, 1704, 1722, 1700, 1648] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2010
->x 0 + ... + x 129 = 1791
->x 130 + ... + x 190 = 1794
->x 191 + ... + x 244 = 1792
->x 245 + ... + x 284 = 1763
->x 285 + ... + x 312 = 1792
[0, 130, 191, 245, 285] 5
[129, 190, 244, 284, 312] 5
[1791, 1794, 1792, 1763, 1792] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2011
->x 0 + ... + x 109 = 1925
->x 110 + ... + x 168 = 1982
->x 169 + ... + x 217 = 1969
->x 218 + ... + x 245 = 2019
->x 246 + ... + x 269 = 1816
[0, 110, 169, 218, 246] 5
[109, 168, 217, 245, 269] 5
[1925, 1982, 1969, 2019, 1816] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2012
->x 0 + ... + x 75 = 1106
->x 76 + ... + x 106 = 1118
->x 107 + ... + x 131 = 1156
->x 132 + ... + x 146 = 1094
->x 147 + ... + x 157 = 1064
[0, 76, 107, 132, 147] 5
[75, 106, 131, 146, 157] 5
[1106, 1118, 1156, 1094, 1064] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2013
->x 0 + ... + x 84 = 1395
->x 85 + ... + x 127 = 1387
->x 128 + ... + x 158 = 1388
->x 159 + ... + x 179 = 1317
->x 180 + ... + x 193 = 1398
[0, 85, 128, 159, 180] 5
[84, 127, 158, 179, 193] 5
[1395, 1387, 1388, 1317, 1398] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2014
->x 0 + ... + x 105 = 1697
->x 106 + ... + x 160 = 1700
->x 161 + ... + x 194 = 1668
->x 195 + ... + x 220 = 1803
->x 221 + ... + x 235 = 1596
[0, 106, 161, 195, 221] 5
[105, 160, 194, 220, 235] 5
[1697, 1700, 1668, 1803, 1596] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2015
->x 0 + ... + x 573 = 3408
->x 574 + ... + x 917 = 3460
->x 918 + ... + x 1089 = 3434
->x 1090 + ... + x 1191 = 3468
->x 1192 + ... + x 1237 = 3346
[0, 574, 918, 1090, 1192] 5
[573, 917, 1089, 1191, 1237] 5
[3408, 3460, 3434, 3468, 3346] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2016
->x 0 + ... + x 732 = 3623
->x 733 + ... + x 1226 = 3618
->x 1227 + ... + x 1481 = 3680
->x 1482 + ... + x 1572 = 3626
->x 1573 + ... + x 1616 = 3555
[0, 733, 1227, 1482, 1573] 5
[732, 1226, 1481, 1572, 1616] 5
[3623, 3618, 3680, 3626, 3555] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

year:  2017
->x 0 + ... + x 481 = 2073
->x 482 + ... + x 862 = 2071
->x 863 + ... + x 1079 = 2057
->x 1080 + ... + x 1142 = 2148
->x 1143 + ... + x 1174 = 2007
[0, 482, 863, 1080, 1143] 5
[481, 862, 1079, 1142, 1174] 5
[2073, 2071, 2057, 2148, 2007] 5
from_i: 0
from_i: 1
from_i: 2
from_i: 3
from_i: 4

In [216]:
with open( '5_cate_sum_list_1997-2017.csv', 'w' , encoding='UTF-8', newline='') as csv_file:
        csv_writer = csv.writer(csv_file)
        fileHeader = ['R0', 'R1', 'R2', 'R3' , 'R4']
        csv_writer.writerow(fileHeader)
        for year in df_v7_years.groups.keys():
            per_y_from_list, per_y_to_list, per_y_sum_list, per_df_v7_each_year = calcu_fomx_tox_sum(year)
            csv_writer.writerow(per_y_sum_list)

year:  1997
->x 0 + ... + x 60 = 236
->x 61 + ... + x 118 = 235
->x 119 + ... + x 147 = 238
->x 148 + ... + x 172 = 237
->x 173 + ... + x 190 = 235
[0, 61, 119, 148, 173] 5
[60, 118, 147, 172, 190] 5
[236, 235, 238, 237, 235] 5
year:  1998
->x 0 + ... + x 50 = 228
->x 51 + ... + x 103 = 228
->x 104 + ... + x 144 = 254
->x 145 + ... + x 173 = 235
->x 174 + ... + x 184 = 201
[0, 51, 104, 145, 174] 5
[50, 103, 144, 173, 184] 5
[228, 228, 254, 235, 201] 5
year:  1999
->x 0 + ... + x 41 = 205
->x 42 + ... + x 103 = 222
->x 104 + ... + x 152 = 208
->x 153 + ... + x 181 = 206
->x 182 + ... + x 197 = 203
[0, 42, 104, 153, 182] 5
[41, 103, 152, 181, 197] 5
[205, 222, 208, 206, 203] 5
year:  2000
->x 0 + ... + x 56 = 165
->x 57 + ... + x 100 = 163
->x 101 + ... + x 141 = 169
->x 142 + ... + x 183 = 167
->x 184 + ... + x 205 = 156
[0, 57, 101, 142, 184] 5
[56, 100, 141, 183, 205] 5
[165, 163, 169, 167, 156] 5
year:  2001
->x 0 + ... + x 62 = 230
->x 63 + ... + x 100 = 229
->x 101 + ... + x 149 = 221
->x 150 + ... + x 187 = 253
->x 188 + ... + x 202 = 219
[0, 63, 101, 150, 188] 5
[62, 100, 149, 187, 202] 5
[230, 229, 221, 253, 219] 5
year:  2002
->x 0 + ... + x 135 = 456
->x 136 + ... + x 193 = 459
->x 194 + ... + x 215 = 448
->x 216 + ... + x 229 = 477
->x 230 + ... + x 235 = 444
[0, 136, 194, 216, 230] 5
[135, 193, 215, 229, 235] 5
[456, 459, 448, 477, 444] 5
year:  2003
->x 0 + ... + x 213 = 984
->x 214 + ... + x 293 = 980
->x 294 + ... + x 335 = 956
->x 336 + ... + x 370 = 1027
->x 371 + ... + x 390 = 945
[0, 214, 294, 336, 371] 5
[213, 293, 335, 370, 390] 5
[984, 980, 956, 1027, 945] 5
year:  2004
->x 0 + ... + x 234 = 982
->x 235 + ... + x 343 = 983
->x 344 + ... + x 394 = 973
->x 395 + ... + x 424 = 1017
->x 425 + ... + x 448 = 946
[0, 235, 344, 395, 425] 5
[234, 343, 394, 424, 448] 5
[982, 983, 973, 1017, 946] 5
year:  2005
->x 0 + ... + x 244 = 1071
->x 245 + ... + x 348 = 1063
->x 349 + ... + x 401 = 1083
->x 402 + ... + x 438 = 1076
->x 439 + ... + x 460 = 1060
[0, 245, 349, 402, 439] 5
[244, 348, 401, 438, 460] 5
[1071, 1063, 1083, 1076, 1060] 5
year:  2006
->x 0 + ... + x 306 = 1216
->x 307 + ... + x 411 = 1216
->x 412 + ... + x 467 = 1223
->x 468 + ... + x 505 = 1211
->x 506 + ... + x 534 = 1216
[0, 307, 412, 468, 506] 5
[306, 411, 467, 505, 534] 5
[1216, 1216, 1223, 1211, 1216] 5
year:  2007
->x 0 + ... + x 316 = 1418
->x 317 + ... + x 442 = 1415
->x 443 + ... + x 500 = 1393
->x 501 + ... + x 541 = 1470
->x 542 + ... + x 568 = 1381
[0, 317, 443, 501, 542] 5
[316, 442, 500, 541, 568] 5
[1418, 1415, 1393, 1470, 1381] 5
year:  2008
->x 0 + ... + x 317 = 1420
->x 318 + ... + x 441 = 1419
->x 442 + ... + x 509 = 1449
->x 510 + ... + x 550 = 1429
->x 551 + ... + x 579 = 1397
[0, 318, 442, 510, 551] 5
[317, 441, 509, 550, 579] 5
[1420, 1419, 1449, 1429, 1397] 5
year:  2009
->x 0 + ... + x 340 = 1692
->x 341 + ... + x 496 = 1704
->x 497 + ... + x 569 = 1722
->x 570 + ... + x 623 = 1700
->x 624 + ... + x 653 = 1648
[0, 341, 497, 570, 624] 5
[340, 496, 569, 623, 653] 5
[1692, 1704, 1722, 1700, 1648] 5
year:  2010
->x 0 + ... + x 129 = 1791
->x 130 + ... + x 190 = 1794
->x 191 + ... + x 244 = 1792
->x 245 + ... + x 284 = 1763
->x 285 + ... + x 312 = 1792
[0, 130, 191, 245, 285] 5
[129, 190, 244, 284, 312] 5
[1791, 1794, 1792, 1763, 1792] 5
year:  2011
->x 0 + ... + x 109 = 1925
->x 110 + ... + x 168 = 1982
->x 169 + ... + x 217 = 1969
->x 218 + ... + x 245 = 2019
->x 246 + ... + x 269 = 1816
[0, 110, 169, 218, 246] 5
[109, 168, 217, 245, 269] 5
[1925, 1982, 1969, 2019, 1816] 5
year:  2012
->x 0 + ... + x 75 = 1106
->x 76 + ... + x 106 = 1118
->x 107 + ... + x 131 = 1156
->x 132 + ... + x 146 = 1094
->x 147 + ... + x 157 = 1064
[0, 76, 107, 132, 147] 5
[75, 106, 131, 146, 157] 5
[1106, 1118, 1156, 1094, 1064] 5
year:  2013
->x 0 + ... + x 84 = 1395
->x 85 + ... + x 127 = 1387
->x 128 + ... + x 158 = 1388
->x 159 + ... + x 179 = 1317
->x 180 + ... + x 193 = 1398
[0, 85, 128, 159, 180] 5
[84, 127, 158, 179, 193] 5
[1395, 1387, 1388, 1317, 1398] 5
year:  2014
->x 0 + ... + x 105 = 1697
->x 106 + ... + x 160 = 1700
->x 161 + ... + x 194 = 1668
->x 195 + ... + x 220 = 1803
->x 221 + ... + x 235 = 1596
[0, 106, 161, 195, 221] 5
[105, 160, 194, 220, 235] 5
[1697, 1700, 1668, 1803, 1596] 5
year:  2015
->x 0 + ... + x 573 = 3408
->x 574 + ... + x 917 = 3460
->x 918 + ... + x 1089 = 3434
->x 1090 + ... + x 1191 = 3468
->x 1192 + ... + x 1237 = 3346
[0, 574, 918, 1090, 1192] 5
[573, 917, 1089, 1191, 1237] 5
[3408, 3460, 3434, 3468, 3346] 5
year:  2016
->x 0 + ... + x 732 = 3623
->x 733 + ... + x 1226 = 3618
->x 1227 + ... + x 1481 = 3680
->x 1482 + ... + x 1572 = 3626
->x 1573 + ... + x 1616 = 3555
[0, 733, 1227, 1482, 1573] 5
[732, 1226, 1481, 1572, 1616] 5
[3623, 3618, 3680, 3626, 3555] 5
year:  2017
->x 0 + ... + x 481 = 2073
->x 482 + ... + x 862 = 2071
->x 863 + ... + x 1079 = 2057
->x 1080 + ... + x 1142 = 2148
->x 1143 + ... + x 1174 = 2007
[0, 482, 863, 1080, 1143] 5
[481, 862, 1079, 1142, 1174] 5
[2073, 2071, 2057, 2148, 2007] 5

In [156]:
per_y_from_list, per_y_to_list, per_y_sum_list, df_v7_each_year = calcu_fomx_tox_sum(2000)
year_sum_df = create_df_each_year(per_y_from_list, per_y_to_list, per_y_sum_list)
year_sum_df

year:  2000
->x 0 + ... + x 31 = 77
->x 32 + ... + x 60 = 114
->x 61 + ... + x 88 = 85
->x 89 + ... + x 110 = 81
->x 111 + ... + x 132 = 101
->x 133 + ... + x 152 = 86
->x 153 + ... + x 174 = 82
->x 175 + ... + x 191 = 74
->x 192 + ... + x 204 = 120
->x 205 + ... + x 205 = 0
[0, 32, 61, 89, 111, 133, 153, 175, 192, 205] 10
[31, 60, 88, 110, 132, 152, 174, 191, 204, 205] 10
[77, 114, 85, 81, 101, 86, 82, 74, 120, 0] 10

   from_x  n_sum_group  to_x
0       0           77    31
1      32          114    60
2      61           85    88
3      89           81   110
4     111          101   132
5     133           86   152
6     153           82   174
7     175           74   191
8     192          120   204
9     205            0   205

In [157]:
year_sum_df.n_sum_group.sum()

820

In [97]:
#df_v7_1997['sort_poster_label'].iloc[ 0 : year_sum_df['from_x'].iloc[] ] = 9
range_num = 0
for from_i in range(0, len(year_sum_df['from_x'])):
    print('from_i:', from_i)
    if from_i == 9:
        df_v7_1997['sort_poster_label'].iloc[ year_sum_df['from_x'].iloc[from_i] : len(df_v7_1997) ] = 9
        break
    df_v7_1997['sort_poster_label'].iloc[ year_sum_df['from_x'].iloc[from_i] : year_sum_df['from_x'].iloc[from_i+1] ] = range_num
    range_num = range_num + 1
#df_v7_1997['sort_poster_label'].iloc[]

In [96]:
df_v7_1997

,n_index,previous_index_num,movie_title_txt_num,imdb_id,n_of_posters,total_box_office,with_adjusted_box_office,total_label,year,movie_title,year_box_office_label,Rnum_year_box_office_label,groups_num,train_or_test,budget,sort_poster_label
0,10037,5588,5854,tt0120376,2,217,422,0,1997,Trojan War,0,R0,18,test,0,0
1,10036,5576,5839,tt0118870,3,552,1076,0,1997,Cold Around the Heart,0,R0,17,test,0,0
2,10035,5548,5800,tt0130297,1,967,1606,0,1997,Sweet Jane,0,R0,16,test,0,0
3,10034,5467,5708,tt0028905,1,2126,3534,0,1997,Homme Nu L,0,R0,15,test,0,0
4,10033,5365,5592,tt0119327,2,3620,7068,0,1997,Hugo Pool,0,R0,14,train,0,0
5,10020,5259,5471,tt0119401,1,5000,9768,0,1997,James Gang The,0,R0,1,train,0,0
6,10021,5265,5477,tt0118811,5,5000,9768,0,1997,Call of the Wild Dog of the Yukon The,0,R0,2,train,0,0
7,10022,5269,5483,tt7253216,1,5000,9768,0,1997,Guy,0,R0,3,train,0,0
8,10023,5270,5484,tt0113646,2,5000,9768,0,1997,Lewis and Clark and George,0,R0,4,train,0,0
9,10024,5273,5487,tt0111453,3,5000,9768,0,1997,Tollbooth,0,R0,5,train,0,0
10,10025,5278,5492,tt0115801,1,5000,9768,0,1997,Cadillac Ranch,0,R0,6,train,0,0
11,10026,5279,5493,tt0115832,3,5000,9768,0,1997,Carlas Song,0,R0,7,train,0,0
12,10027,5281,5495,tt0118042,1,5000,9768,0,1997,Unforgotten Twenty Five Years After Willowbrook,0,R0,8,train,0,0
13,10028,5282,5497,tt0118772,2,5000,9768,0,1997,Breaking Up,0,R0,9,train,0,0
14,10029,5285,5500,tt0112907,3,5000,9768,0,1997,Drunks,0,R0,10,train,0,0
15,10030,5288,5503,tt0118958,1,5000,9768,0,1997,Deli The,0,R0,11,train,0,0
16,10031,5290,5505,tt0116356,2,5000,9768,0,1997,Frankenstein and Me,0,R0,12,train,0,0
17,10032,10235,14127,tt0119227,9,5000,9768,0,1997,Grimm Brothers Snow White The,0,R0,13,train,26000000,0
18,10019,5183,5387,tt0091149,40,6707,13105,0,1997,Mouse The,0,R0,0,train,0,0
19,8945,5116,5313,tt0113425,3,8225,16065,0,1997,Innocent Sleep The,1,R1,18,test,0,0
20,8944,5079,5273,tt2558318,8,9043,15043,0,1997,Well The,1,R1,17,test,0,0
21,8943,5007,5193,tt0111038,1,10758,21017,0,1997,Soul in the Hole,1,R1,16,test,0,0
22,8942,4993,5177,tt0117172,1,11251,21985,0,1997,Nick and Jane,1,R1,15,test,0,0
23,8941,4945,5123,tt0082898,1,12646,20039,0,1997,Personals The,1,R1,14,train,0,0
24,8940,4794,4960,tt0090927,18,18134,35432,0,1997,Delta The,1,R1,13,train,0,0
25,8939,4732,4895,tt0116592,1,20325,39719,0,1997,I Love You I Love You Not,1,R1,12,train,0,0
26,8938,4715,4875,tt0120392,2,20868,40778,0,1997,Twilight of the Golds,1,R1,11,train,0,0
27,8937,4689,4848,tt0118127,2,22002,42993,0,1997,Wedding Bell Blues,1,R1,10,train,0,1
28,8936,4646,4805,tt0117351,3,23862,46626,0,1997,Le Plus Beau Metier du Monde,1,R1,9,train,0,1
29,8935,4622,4778,tt0120018,2,25696,50214,0,1997,Rien ne va plus,1,R1,8,train,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,1979,1505,1528,tt0119086,6,14351432,28046257,0,1997,Excess Baggage,8,R8,10,train,0,6
161,1978,1493,1515,tt0116704,15,14601662,28535265,0,1997,Jackie Chans First Strike,8,R8,9,train,0,6
162,1977,2080,2117,tt0119535,15,14633270,18724696,0,1997,Life Less Ordinary A,8,R8,8,train,0,7
163,1976,1488,1510,tt2394045,1,14765099,28854669,0,1997,Sixth Man The,8,R8,7,train,0,7
164,1975,1463,1485,tt0120029,13,15448043,30189306,0,1997,Rocket Man,8,R8,6,train,0,7
165,1974,1432,1453,tt0119123,15,16148906,31558972,0,1997,Fire Down Below,8,R8,5,train,0,7
166,1973,1423,1444,tt0120318,8,17239218,32897035,0,1997,That Old Feeling,8,R8,4,train,0,7
167,1972,1353,1372,tt0059793,8,18301828,35766314,0,1997,That Darn Cat,8,R8,3,train,0,7
168,1971,1306,1323,tt0119214,12,19745922,38588429,0,1997,Gone Fishin,8,R8,2,train,0,7
169,1970,1296,1313,tt0118750,5,20066917,39215737,1,1997,Booty Call,8,R8,1,train,0,7
170,1969,1244,1260,tt0119994,10,22442815,43852473,1,1997,Red Corner,8,R8,0,train,0,7
171,993,1208,1224,tt0119311,5,23489997,45905285,1,1997,Hoodlum,9,R9,18,test,0,7
172,992,1203,1219,tt0119215,8,23712993,46341074,1,1997,Good Burger,9,R9,17,test,0,7
173,991,1164,1179,tt0119675,21,25514166,49861010,1,1997,Mimic,9,R9,16,test,0,7
174,990,1152,1167,tt0119731,17,25842024,50501728,1,1997,Murder at 1600,9,R9,15,test,0,7
175,989,1135,1149,tt0118604,12,26570463,51655880,1,1997,American Werewolf in Paris An,9,R9,14,train,0,8
176,988,1268,1285,tt0119718,8,28937192,49153343,1,1997,Mr Magoo,9,R9,13,train,0,8
177,987,1084,1097,tt0119848,8,28985323,56644518,1,1997,Out to Sea,9,R9,12,train,0,8
178,986,1081,1094,tt0120032,13,29235353,57133132,1,1997,Romy and Micheles High School Reunion,9,R9,11,train,0,8
179,985,1080,1093,tt0119141,18,29299524,57258542,1,1997,Fools Rush In,9,R9,10,train,0,8
180,984,1337,1356,tt0120327,1,31279211,46861633,1,1997,Thrill Ride The Science of Fun,9,R9,9,train,0,8
181,983,1037,1048,tt0119896,16,31301775,61171435,1,1997,Picture Perfect,9,R9,8,train,0,8
182,982,1023,1034,tt0119142,14,31680796,61613898,1,1997,For Richer or Poorer,9,R9,7,train,0,8
183,981,1012,1023,tt0119664,15,32017895,62570917,1,1997,Metro,9,R9,6,train,0,8
184,980,1108,1122,tt0119051,27,34099255,60626644,1,1997,Edge The,9,R9,5,train,0,9
185,979,5950,6242,tt0118556,12,34673095,67759837,1,1997,Addicted To Love,9,R9,4,train,0,9
186,978,910,921,tt0120434,17,36470465,71272346,1,1997,Vegas Vacation,9,R9,3,train,0,9
187,977,1040,1051,tt0118708,19,37639029,67454843,1,1997,Beverly Hills Ninja,9,R9,2,train,0,9
188,976,808,817,tt0119951,6,41198146,80511401,2,1997,Private Parts,9,R9,1,train,0,9
189,975,565,571,tt0119432,11,59925026,117108382,2,1997,Jungle 2 Jungle,9,R9,0,train,0,9

In [91]:
df_v7_1997.to_csv('1997_with_label_sort_poster.csv')

#

In [31]:
from_x = from_list
to_x = to_list
divided_sum_group = sum_list

movie_num_each_group_dict = {
                'from_x': from_x,
                'to_x': to_x,
                'n_sum_group': divided_sum_group
                }

year_sum_df = pd.DataFrame(movie_num_each_group_dict)
#year_sum_df.reindex(columns=['from_x', 'to_x', 'n_sum_group'])
year_sum_df

   from_x  n_sum_group  to_x
0       0          118    26
1      27          118    60
2      61          119    87
3      88          116   118
4     119          116   135
5     136          130   148
6     149          129   161
7     162          138   174
8     175          105   183
9     184           92   190

In [119]:
df_v7_2016 = df_v7_years.get_group(2016)
list_stop_index_each_year = get_stop_index_each_year_to_R0_R9(2016)

add_final_stop_list = list_stop_index_each_year.copy()
add_final_stop_list.append(len(df_v7_2016))

from_list = [0]
to_list = []
sum_list = []

print('->x 0 + ... + x', list_stop_index_each_year[0], '=', df_v7_2016.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
#print(df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
to_list.append(list_stop_index_each_year[0])
sum_list.append(df_v7_2016.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())

for i in range(0, len(add_final_stop_list)-1):
    #if i == len(add_final_stop_list)-1:
    #    break
    #print(i, add_final_stop_list[i] )
    print('->x', add_final_stop_list[i]+1, '+ ... + x', add_final_stop_list[i+1], '=', df_v7_2016.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print(df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i]+1 : list_stop_index_each_year[i+1]+1 ].sum())
    from_list.append(add_final_stop_list[i]+1)
    to_list.append(add_final_stop_list[i+1])
    sum_list.append(df_v7_2016.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print('->x 184', '+ ... + x', len(df_v7_1997), '=', df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i+1]+1 : len(df_v7_1997) ].sum())

print(from_list, len(from_list))
print(to_list, len(to_list))
print(sum_list, len(sum_list))

#[411, 733, 979, 1226, 1380, 1481, 1538, 1573, 1601]

year:  2016
->x 0 + ... + x 411 = 1815
->x 412 + ... + x 733 = 1809
->x 734 + ... + x 979 = 1813
->x 980 + ... + x 1226 = 1804
->x 1227 + ... + x 1380 = 1841
->x 1381 + ... + x 1481 = 1839
->x 1482 + ... + x 1538 = 1804
->x 1539 + ... + x 1573 = 1870
->x 1574 + ... + x 1601 = 1822
->x 1602 + ... + x 1616 = 1685
[0, 412, 734, 980, 1227, 1381, 1482, 1539, 1574, 1602] 10
[411, 733, 979, 1226, 1380, 1481, 1538, 1573, 1601, 1616] 10
[1815, 1809, 1813, 1804, 1841, 1839, 1804, 1870, 1822, 1685] 10

In [116]:
df_v7_2017 = df_v7_years.get_group(2017)

list_stop_index_each_year

add_final_stop_list = list_stop_index_each_year.copy()
add_final_stop_list.append(len(df_v7_2017))

from_list = [0]
to_list = []
sum_list = []

print('->x 0 + ... + x', list_stop_index_each_year[0], '=', df_v7_2017.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
#print(df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
to_list.append(list_stop_index_each_year[0])
sum_list.append(df_v7_2017.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())

for i in range(0, len(add_final_stop_list)-1):
    #if i == len(add_final_stop_list)-1:
    #    break
    #print(i, add_final_stop_list[i] )
    print('->x', add_final_stop_list[i]+1, '+ ... + x', add_final_stop_list[i+1], '=', df_v7_2017.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print(df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i]+1 : list_stop_index_each_year[i+1]+1 ].sum())
    from_list.append(add_final_stop_list[i]+1)
    to_list.append(add_final_stop_list[i+1])
    sum_list.append(df_v7_2017.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print('->x 184', '+ ... + x', len(df_v7_1997), '=', df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i+1]+1 : len(df_v7_1997) ].sum())

print(from_list, len(from_list))
print(to_list, len(to_list))
print(sum_list, len(sum_list))

#[260, 482, 689, 862, 990, 1082, 1120, 1143, 1163]

->x 0 + ... + x 260 = 1040
->x 261 + ... + x 482 = 1035
->x 483 + ... + x 689 = 1023
->x 690 + ... + x 862 = 1046
->x 863 + ... + x 990 = 1112
->x 991 + ... + x 1082 = 1071
->x 1083 + ... + x 1120 = 1053
->x 1121 + ... + x 1143 = 1029
->x 1144 + ... + x 1163 = 1085
->x 1164 + ... + x 1174 = 862
[0, 261, 483, 690, 863, 991, 1083, 1121, 1144, 1164] 10
[260, 482, 689, 862, 990, 1082, 1120, 1143, 1163, 1174] 10
[1040, 1035, 1023, 1046, 1112, 1071, 1053, 1029, 1085, 862] 10

In [99]:
df_v7_year.groups.keys()

dict_keys([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [100]:
list_stop_index_all_year = []
for year in df_v7_years.groups.keys():
    list_stop_index_each_year = get_stop_index_each_year_to_R0_R9(year)
    list_stop_index_all_year.append(list_stop_index_each_year)

year:  1997
year:  1998
year:  1999
year:  2000
year:  2001
year:  2002
year:  2003
year:  2004
year:  2005
year:  2006
year:  2007
year:  2008
year:  2009
year:  2010
year:  2011
year:  2012
year:  2013
year:  2014
year:  2015
year:  2016
year:  2017

###

In [144]:
list_stop_index_each_year

[26, 60, 87, 118, 135, 148, 161, 174, 183]

In [15]:
add_final_stop_list = list_stop_index_each_year.copy()

In [16]:
add_final_stop_list

[26, 60, 87, 118, 135, 148, 161, 174, 183]

In [17]:
add_final_stop_list.append(len(df_v7_1997))
add_final_stop_list

[26, 60, 87, 118, 135, 148, 161, 174, 183, 190]

In [27]:
from_list = [0]
to_list = []
sum_list = []

print('->x 0 + ... + x', list_stop_index_each_year[0], '=', df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
#print(df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
to_list.append(list_stop_index_each_year[0])
sum_list.append(df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())

for i in range(0, len(add_final_stop_list)-1):
    #if i == len(add_final_stop_list)-1:
    #    break
    #print(i, add_final_stop_list[i] )
    print('->x', add_final_stop_list[i]+1, '+ ... + x', add_final_stop_list[i+1], '=', df_v7_1997.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print(df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i]+1 : list_stop_index_each_year[i+1]+1 ].sum())
    from_list.append(add_final_stop_list[i]+1)
    to_list.append(add_final_stop_list[i+1])
    sum_list.append(df_v7_1997.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print('->x 184', '+ ... + x', len(df_v7_1997), '=', df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i+1]+1 : len(df_v7_1997) ].sum())

print(from_list, len(from_list))
print(to_list, len(to_list))
print(sum_list, len(sum_list))

->x 0 + ... + x 26 = 118
->x 27 + ... + x 60 = 118
->x 61 + ... + x 87 = 119
->x 88 + ... + x 118 = 116
->x 119 + ... + x 135 = 116
->x 136 + ... + x 148 = 130
->x 149 + ... + x 161 = 129
->x 162 + ... + x 174 = 138
->x 175 + ... + x 183 = 105
->x 184 + ... + x 190 = 92
[0, 27, 61, 88, 119, 136, 149, 162, 175, 184] 10
[26, 60, 87, 118, 135, 148, 161, 174, 183, 190] 10
[118, 118, 119, 116, 116, 130, 129, 138, 105, 92] 10

###

In [36]:
######now foucse


for range_num in range(0, len(year_sum_df)):
    n_sum_poster = year_sum_df.n_sum_group.iloc[range_num]
    print(n_sum_poster)
    train_test_thold = int(n_sum_poster*0.8)
    print(train_test_thold)
    
    
    
    
    
def divide_train_test_each_group(group_nu): #year
    stop_index_list = []
    #prepared inital paraments
    count = 0
    df_v7_each_year = df_v7_years.get_group(year)
    
    print('year: ', year)
    n_poster_num = df_v7_each_year['n_of_posters'].sum()
    print('number of poster: ', n_poster_num)
    group_num_threadhold = int(n_poster_num/10)
    print('group num threadhold: ', group_num_threadhold)
    for index in range(0, len(df_v7_each_year)):
        #print('index: ', index)
        n_poster_each_index = df_v7_each_year['n_of_posters'].iloc[index]
        #print('number of posters in this index: ', n_poster_each_index)
        count = count + n_poster_each_index
        if count >= group_num_threadhold: 
            print('***stop index: ', index)
            if count == group_num_threadhold:
                stop_index_list.append(index)
            #print('count: ', count)
            else:
                #print('nooooo')
                prev_count = count-df_v7_each_year['n_of_posters'].iloc[index]
                #print('previous: ', prev_count)
                #print('over: ', count)
                distant_prev = group_num_threadhold - prev_count
                #print('distant of prev_count: ', distant_prev)
                distant_over = count - group_num_threadhold
                #print('distant of over_count: ', distant_over)
                find_min = [distant_prev, distant_over]
                min_dis = min(find_min)
                #print('who is min: ', min_dis)
                #choose the corresponding index of the minimum number
                choose_index = find_min.index(min_dis)
                #print('choose index: ', choose_index)
                #0=prev, 1=over
                if choose_index == 0:
                    #print('I choose previous: ', prev_count)
                    print('***stop index will be: ', index-1)
                    stop_index_list.append(index-1)
                else:
                    #print('I choose over: ', count)
                    print('***stop index will be: ', index)
                    stop_index_list.append(index)
            count = 0
    return stop_index_list

118
94

118
94

119
95

116
92

116
92

130
104

129
103

138
110

105
84

92
73

In [ ]:
df_v7_1997.n_of_posters.sum()

In [ ]:
df_v7_1997.n_of_posters[0]

In [ ]:
df_v7_years.get_group(1997)['n_of_posters'].sum()

In [ ]:
df_v7_years.groups.keys()
list_year = list(df_v7_years.groups.keys())
#list_year

In [ ]:
list_stop_index_each_year

In [ ]:
list_stop_index_each_year.append(len(df_v7_1997))

In [ ]:
list_stop_index_each_year

In [ ]:
sum_list

In [ ]:
train_test_num_threadhold = int(group_num_threadhold*0.8)

def divide_train_tes_get_stop_index_each_year_to_R0_R9(year):
    for 
    stop_index_list = []
    #prepared inital paraments
    count = 0
    df_v7_each_year = df_v7_years.get_group(year)
    
    print('year: ', year)
    n_poster_num = df_v7_each_year['n_of_posters'].sum()
    print('number of poster: ', n_poster_num)
    group_num_threadhold = int(n_poster_num/10)
    print('group num threadhold: ', group_num_threadhold)
    train_test_num_threadhold = int(group_num_threadhold*0.8)
    for index in range(0, len(df_v7_each_year)):
        #print('index: ', index)
        n_poster_each_index = df_v7_each_year['n_of_posters'].iloc[index]
        #print('number of posters in this index: ', n_poster_each_index)
        count = count + n_poster_each_index
        if count >= group_num_threadhold: 
            #print('***stop index: ', index)
            if count == group_num_threadhold:
                stop_index_list.append(index)
                print('***stop index: ', index)
            #print('count: ', count)
            else:
                #print('nooooo')
                prev_count = count-df_v7_each_year['n_of_posters'].iloc[index]
                #print('previous: ', prev_count)
                #print('over: ', count)
                distant_prev = group_num_threadhold - prev_count
                #print('distant of prev_count: ', distant_prev)
                distant_over = count - group_num_threadhold
                #print('distant of over_count: ', distant_over)
                find_min = [distant_prev, distant_over]
                min_dis = min(find_min)
                #print('who is min: ', min_dis)
                #choose the corresponding index of the minimum number
                choose_index = find_min.index(min_dis)
                #print('choose index: ', choose_index)
                #0=prev, 1=over
                if choose_index == 0:
                    #print('I choose previous: ', prev_count)
                    print('***stop index will be: ', index-1)
                    stop_index_list.append(index-1)
                else:
                    #print('I choose over: ', count)
                    print('***stop index will be: ', index)
                    stop_index_list.append(index)
            count = 0
    return stop_index_list

In [ ]:
divide_train_tes_get_stop_index_each_year_to_R0_R9(1997)

####

In [56]:
df_v7_1997.n_of_posters.iloc[0:27].sum()

118

In [61]:
df_v7_1997.n_of_posters.iloc[27:61].sum()

118

In [62]:
df_v7_1997.n_of_posters.iloc[61:88].sum()

119

In [63]:
df_v7_1997.n_of_posters.iloc[88:119].sum()

116

In [64]:
df_v7_1997.n_of_posters.iloc[119:136].sum()

116

In [65]:
df_v7_1997.n_of_posters.iloc[136:149].sum()

130

In [66]:
df_v7_1997.n_of_posters.iloc[149:162].sum()

129

In [67]:
df_v7_1997.n_of_posters.iloc[162:175].sum()

138

In [68]:
df_v7_1997.n_of_posters.iloc[175:184].sum()

105

In [69]:
df_v7_1997.n_of_posters.iloc[184:190].sum()

92

#

In [93]:
y_1997_csv = pd.read_csv('1997_with_label_sort_poster.csv')

In [94]:
y_1997_csv

,Unnamed: 0,n_index,previous_index_num,movie_title_txt_num,imdb_id,n_of_posters,total_box_office,with_adjusted_box_office,total_label,year,movie_title,year_box_office_label,Rnum_year_box_office_label,groups_num,train_or_test,budget,sort_poster_label
0,0,10037,5588,5854,tt0120376,2,217,422,0,1997,Trojan War,0,R0,18,test,0,0
1,1,10036,5576,5839,tt0118870,3,552,1076,0,1997,Cold Around the Heart,0,R0,17,test,0,0
2,2,10035,5548,5800,tt0130297,1,967,1606,0,1997,Sweet Jane,0,R0,16,test,0,0
3,3,10034,5467,5708,tt0028905,1,2126,3534,0,1997,Homme Nu L,0,R0,15,test,0,0
4,4,10033,5365,5592,tt0119327,2,3620,7068,0,1997,Hugo Pool,0,R0,14,train,0,0
5,5,10020,5259,5471,tt0119401,1,5000,9768,0,1997,James Gang The,0,R0,1,train,0,0
6,6,10021,5265,5477,tt0118811,5,5000,9768,0,1997,Call of the Wild Dog of the Yukon The,0,R0,2,train,0,0
7,7,10022,5269,5483,tt7253216,1,5000,9768,0,1997,Guy,0,R0,3,train,0,0
8,8,10023,5270,5484,tt0113646,2,5000,9768,0,1997,Lewis and Clark and George,0,R0,4,train,0,0
9,9,10024,5273,5487,tt0111453,3,5000,9768,0,1997,Tollbooth,0,R0,5,train,0,0
10,10,10025,5278,5492,tt0115801,1,5000,9768,0,1997,Cadillac Ranch,0,R0,6,train,0,0
11,11,10026,5279,5493,tt0115832,3,5000,9768,0,1997,Carlas Song,0,R0,7,train,0,0
12,12,10027,5281,5495,tt0118042,1,5000,9768,0,1997,Unforgotten Twenty Five Years After Willowbrook,0,R0,8,train,0,0
13,13,10028,5282,5497,tt0118772,2,5000,9768,0,1997,Breaking Up,0,R0,9,train,0,0
14,14,10029,5285,5500,tt0112907,3,5000,9768,0,1997,Drunks,0,R0,10,train,0,0
15,15,10030,5288,5503,tt0118958,1,5000,9768,0,1997,Deli The,0,R0,11,train,0,0
16,16,10031,5290,5505,tt0116356,2,5000,9768,0,1997,Frankenstein and Me,0,R0,12,train,0,0
17,17,10032,10235,14127,tt0119227,9,5000,9768,0,1997,Grimm Brothers Snow White The,0,R0,13,train,26000000,0
18,18,10019,5183,5387,tt0091149,40,6707,13105,0,1997,Mouse The,0,R0,0,train,0,0
19,19,8945,5116,5313,tt0113425,3,8225,16065,0,1997,Innocent Sleep The,1,R1,18,test,0,0
20,20,8944,5079,5273,tt2558318,8,9043,15043,0,1997,Well The,1,R1,17,test,0,0
21,21,8943,5007,5193,tt0111038,1,10758,21017,0,1997,Soul in the Hole,1,R1,16,test,0,0
22,22,8942,4993,5177,tt0117172,1,11251,21985,0,1997,Nick and Jane,1,R1,15,test,0,0
23,23,8941,4945,5123,tt0082898,1,12646,20039,0,1997,Personals The,1,R1,14,train,0,0
24,24,8940,4794,4960,tt0090927,18,18134,35432,0,1997,Delta The,1,R1,13,train,0,0
25,25,8939,4732,4895,tt0116592,1,20325,39719,0,1997,I Love You I Love You Not,1,R1,12,train,0,0
26,26,8938,4715,4875,tt0120392,2,20868,40778,0,1997,Twilight of the Golds,1,R1,11,train,0,0
27,27,8937,4689,4848,tt0118127,2,22002,42993,0,1997,Wedding Bell Blues,1,R1,10,train,0,1
28,28,8936,4646,4805,tt0117351,3,23862,46626,0,1997,Le Plus Beau Metier du Monde,1,R1,9,train,0,1
29,29,8935,4622,4778,tt0120018,2,25696,50214,0,1997,Rien ne va plus,1,R1,8,train,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,160,1979,1505,1528,tt0119086,6,14351432,28046257,0,1997,Excess Baggage,8,R8,10,train,0,6
161,161,1978,1493,1515,tt0116704,15,14601662,28535265,0,1997,Jackie Chans First Strike,8,R8,9,train,0,6
162,162,1977,2080,2117,tt0119535,15,14633270,18724696,0,1997,Life Less Ordinary A,8,R8,8,train,0,7
163,163,1976,1488,1510,tt2394045,1,14765099,28854669,0,1997,Sixth Man The,8,R8,7,train,0,7
164,164,1975,1463,1485,tt0120029,13,15448043,30189306,0,1997,Rocket Man,8,R8,6,train,0,7
165,165,1974,1432,1453,tt0119123,15,16148906,31558972,0,1997,Fire Down Below,8,R8,5,train,0,7
166,166,1973,1423,1444,tt0120318,8,17239218,32897035,0,1997,That Old Feeling,8,R8,4,train,0,7
167,167,1972,1353,1372,tt0059793,8,18301828,35766314,0,1997,That Darn Cat,8,R8,3,train,0,7
168,168,1971,1306,1323,tt0119214,12,19745922,38588429,0,1997,Gone Fishin,8,R8,2,train,0,7
169,169,1970,1296,1313,tt0118750,5,20066917,39215737,1,1997,Booty Call,8,R8,1,train,0,7
170,170,1969,1244,1260,tt0119994,10,22442815,43852473,1,1997,Red Corner,8,R8,0,train,0,7
171,171,993,1208,1224,tt0119311,5,23489997,45905285,1,1997,Hoodlum,9,R9,18,test,0,7
172,172,992,1203,1219,tt0119215,8,23712993,46341074,1,1997,Good Burger,9,R9,17,test,0,7
173,173,991,1164,1179,tt0119675,21,25514166,49861010,1,1997,Mimic,9,R9,16,test,0,7
174,174,990,1152,1167,tt0119731,17,25842024,50501728,1,1997,Murder at 1600,9,R9,15,test,0,7
175,175,989,1135,1149,tt0118604,12,26570463,51655880,1,1997,American Werewolf in Paris An,9,R9,14,train,0,8
176,176,988,1268,1285,tt0119718,8,28937192,49153343,1,1997,Mr Magoo,9,R9,13,train,0,8
177,177,987,1084,1097,tt0119848,8,28985323,56644518,1,1997,Out to Sea,9,R9,12,train,0,8
178,178,986,1081,1094,tt0120032,13,29235353,57133132,1,1997,Romy and Micheles High School Reunion,9,R9,11,train,0,8
179,179,985,1080,1093,tt0119141,18,29299524,57258542,1,1997,Fools Rush In,9,R9,10,train,0,8
180,180,984,1337,1356,tt0120327,1,31279211,46861633,1,1997,Thrill Ride The Science of Fun,9,R9,9,train,0,8
181,181,983,1037,1048,tt0119896,16,31301775,61171435,1,1997,Picture Perfect,9,R9,8,train,0,8
182,182,982,1023,1034,tt0119142,14,31680796,61613898,1,1997,For Richer or Poorer,9,R9,7,train,0,8
183,183,981,1012,1023,tt0119664,15,32017895,62570917,1,1997,Metro,9,R9,6,train,0,8
184,184,980,1108,1122,tt0119051,27,34099255,60626644,1,1997,Edge The,9,R9,5,train,0,9
185,185,979,5950,6242,tt0118556,12,34673095,67759837,1,1997,Addicted To Love,9,R9,4,train,0,9
186,186,978,910,921,tt0120434,17,36470465,71272346,1,1997,Vegas Vacation,9,R9,3,train,0,9
187,187,977,1040,1051,tt0118708,19,37639029,67454843,1,1997,Beverly Hills Ninja,9,R9,2,train,0,9
188,188,976,808,817,tt0119951,6,41198146,80511401,2,1997,Private Parts,9,R9,1,train,0,9
189,189,975,565,571,tt0119432,11,59925026,117108382,2,1997,Jungle 2 Jungle,9,R9,0,train,0,9

####

In [ ]:
#####backup

sum_list = []
print('->x 0 + ... + x', list_stop_index_each_year[0], '=', df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
#print(df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
sum_list.append(df_v7_1997.n_of_posters.iloc[ 0 : list_stop_index_each_year[0]+1 ].sum())
for i in range(0, len(add_final_stop_list)-1):
    #if i == len(add_final_stop_list)-1:
    #    break
    print(i, add_final_stop_list[i] )
    print('->x', add_final_stop_list[i]+1, '+ ... + x', add_final_stop_list[i+1], '=', df_v7_1997.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print(df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i]+1 : list_stop_index_each_year[i+1]+1 ].sum())
    sum_list.append(df_v7_1997.n_of_posters.iloc[ add_final_stop_list[i]+1 : add_final_stop_list[i+1]+1 ].sum())
    #print('->x 184', '+ ... + x', len(df_v7_1997), '=', df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i+1]+1 : len(df_v7_1997) ].sum())

#sum_list.append(df_v7_1997.n_of_posters.iloc[ list_stop_index_each_year[i+1]+1 : len(df_v7_1997) ].sum())

In [ ]:

#divide each year into indiviual group
df_v7_years = df_v7.groupby('year')

for year in list_year:
    print(year)
    print(df_v7_years.get_group(year)['n_of_posters'].sum())

In [ ]:
count = 0

for i in range(0, len(df_v7_1997.n_of_posters)):
    print('i: ', i)
    print('number of posters:', df_v7_1997.n_of_posters[i])
    count = count + df_v7_1997.n_of_posters[i]
    print('count: ', count)  
    train_test_theadhold = int(int(int(df_v7_1997.n_of_posters.sum()*0.8)*0.8)/10)
    print('train/test theadhold: ', train_test_theadhold)
    train_vali_theadhold = int((int(df_v7_1997.n_of_posters.sum()*0.8) - int(int(df_v7_1997.n_of_posters.sum()*0.8)*0.8))/10)
    print('train/vali theadhold: ',train_vali_theadhold)
    if count > int(int(int(df_v7_1997.n_of_posters.sum()*0.8)*0.8)/10): ##training data
        print('dadadadadadadadada')
        print('imdb:', df_v7.imdb_id[i])
        print('n_of_posters: ',df_v7_1997.n_of_posters[i])
        print('now count: ', count)
        prev_count = count-df_v7_1997.n_of_posters[i]
        print('previous count: ', prev_count) 
        if prev_count-train_test_theadhold
        #df_v7_2017.sort_b_off_tra_va_test[i]
        
    print()
        
count

In [ ]:
df_v7_2017.iloc[1]

In [ ]:
df_v7_2017.loc[1]